html  {
   
}

body {
    background-image: url('bleach fond d\'écran.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    margin:0;
}

header p {
    font-size: 4rem;
    position: fixed;
    color:white;
    background-color: black;
    border-radius:15%;
    left:6%;
    top: 2%;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


h1 {
    background: white;
    text-align: center;
    text-shadow: 2px 2px green;
    opacity: 0.7;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 40%;
    font-size: 2rem;
}

#grid {
    display: grid;
    grid-template-columns:484px 500px 200px auto;
    grid-template-rows: repeat(6, 550px) ;
}

#description {
    list-style-type: none;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    font-size: 2rem;
    margin: 5%;
    align-self:center;
}

#description li {
    background: white;
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
    border-radius: 10px;
    padding:5px;
    
    
}

#item1  {
     grid-column-start:2;
     grid-row-start: 2 ;
}

#item2  {
    grid-column-start:4;
    grid-row-start: 3 ;
}

#item3  {
    grid-column-start:2;
    grid-row-start: 4 ;
}

#item4  {
    grid-column-start:4;
    grid-row-start: 5 ;
}

#item5  {
    grid-column-start:2;
    grid-row-start: 6 ;
}

#item7  {
    grid-column-start:3;
    grid-column-end: 5;
    grid-row-start: 2 ;
}
#item8  {
    grid-column-start:2;
    grid-column-end: 4;
    grid-row-start: 3 ;
}
#item9  {
    grid-column-start:3;
    grid-column-end: 5;
    grid-row-start: 4 ;
}
#item10  {
    grid-column-start:2;
    grid-column-end: 4;
    grid-row-start: 5 ;
}

#item11  {
    grid-column-start:3;
    grid-column-end: 5;
    grid-row-start: 6 ;
}

.backgroundText {
    background: lightgray;  
    opacity: 0.8;
}
.font {
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(22, 133, 22);
}


#Lelouch {
    height: 550px;
    width: 484px;
    position: fixed;
    top: 46%;
}
.Picture {
    height: 500px;
    width: 500px;
} 

#footer {
    list-style-type: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    background: black;
    
}

#footer a {
    color: white; 
}


#textFooter {
    display: flex;
    justify-content:center;
    font-size: 2rem;
    background: white;
    opacity: 0.75a ;
}

@media screen and (max-width:1920px) {
    #Lelouch {
        display: none;
    }

    header p {
        left:4%;
        position:absolute;
    }

    #grid {
        grid-template-columns: 8% auto auto 5%;
    }

    #item1 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #item7 {
        grid-column-start:3;
        grid-column-end: 4;
    }

    #item2 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #item8 {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    #item3 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #item9 {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    #item4 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #item10 {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    #item5 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    #item11 {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}

@media screen and (max-width:1400px) {
    header p {
        font-size: 3.5rem;
    }

    #footer {
        font-size: 1rem;
    }
}

@media screen and (max-width:1115px)  {
    #description {
        font-size: 1.75rem;
    }

    .Picture {
        height: 400px;
        width:400px;
    }

    .font {
        font-size:1.75rem;
    }
}

@media screen and (max-width:1563px) {
    #footer {
        font-size:1.5em;
        
    }
}

@media screen and (max-width:1200px) {
    #footer {
        font-size: 1.25em;
    }
}

@media screen and (max-width:851px) {

    #grid {
        grid-template-rows: repeat(6, 400px);
    }

    .Picture {
        height: 300px;
        width: 300px;
    }

    .font {
        font-size: 1.3rem;
    }
    #description {
        font-size: 1.25rem;
    }

    header p {
        font-size: 2.75rem;
    }

    #footer {
        font-size:1em
    }

    #textFooter {
        font-size: 1.25rem;
    }
}

@media screen and (max-width:627px) {
    #grid {
        grid-template-rows: repeat(6, 250px);
        grid-template-columns: 2% auto auto 2%;
    }

    .Picture {
        height: 200px;
        width: 200px;
    }

    .font {
        font-size:1rem;
    }

    #description {
        font-size: 0.9rem;
    }

    #footer {
        font-size:0.75em;
    }

    header p {
        font-size:2rem;
    }
}

@media screen and (max-width:455px) {

    #grid {
        grid-template-rows: repeat(6, 200px);
    }

    .Picture {
        height: 150px;
        width: 150px;
    }

    #description {
        font-size: 0.75rem;
    }

    header p {
        font-size: 2rem;
    }

    #footer {
        font-size:0.6rem;
    }

    #textFooter {
        font-size: 1rem;
    }

    .font {
        font-size:0.8rem;
    }
}