body {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    margin: 0;
}

#head {
    background: black;
    display: flex;
    height: 100px;
    border-bottom: 1px solid white;
    font-size: medium;
}


h1 {
    margin:3px;
    color:white;
}

#Picture {
    height:75px;
    width: 100px;
}

.position {
   list-style-type: none;
   padding-right: 15%;
   color: white;
   font-size: 1.5rem;

}


ul {
    display : flex;
    background: black;
    margin:0;
    justify-content: space-around;
}

.titleOfManga {
    font-size: 1.25rem;
} 

.Picture1 {
    height:300px;
    width: 225px;
}

#background  {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-around;
    gap: 30px;
    background: radial-gradient(rgb(253, 43, 43), white);

}

.manga {
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;;
    border-radius: 0% 10% 10% 0%;
}

#essaie {
    display: flex;
    flex-direction: column;
}



#footer {
    display:flex;
    justify-content:space-around;
   padding: 1%;
   font-size: 1.5rem;
   background: black;
} 

.childFooter {
    color: white;
}
